extends layout

block content
	.header
		.logo 
		span 失眠宇宙's Blog
	.container.markdown-body
		h2 #{blog.title}
		p.tips 
			span #{blog.time}
			a
				span #{blog.category}
		!= mdContent
		div#uyan_frame
	
	script(src="http://v2.uyan.cc/code/uyan.js?uid=2145451") 
   
