extends layout

block content
	.header
		.logo 
		a(href="/")
			span 失眠宇宙's Blog
	.container.markdown-body
		h2 #{blog.title}
		p.tips 
			span #{blog.time}
			a
				span #{blog.category}
		!= mdContent 
	p.end END
	.footer
		span 失眠的时候宇宙和我说的心事.
   
