* {
    margin: 0;
    padding: 0;
    list-style: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}



/*
KISSY CSS Reset
理念：1. reset 的目的不是清除浏览器的默认样式，这仅是部分工作。清除和重置是紧密不可分的。
2. reset 的目的不是让默认样式在所有浏览器下一致，而是减少默认样式有可能带来的问题。
3. reset 期望提供一套普适通用的基础样式。但没有银弹，推荐根据具体需求，裁剪和修改后再使用。
特色：1. 适应中文；2. 基于最新主流浏览器。
维护：玉伯<lifesinger@gmail.com>, 正淳<ragecarrier@gmail.com>
 */


/** 清除内外边距 **/

body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,


/* structural elements 结构元素 */

dl,
dt,
dd,
ul,
ol,
li,


/* list elements 列表元素 */

pre,


/* text formatting elements 文本格式元素 */

form,
fieldset,
legend,
button,
input,
textarea,


/* form elements 表单元素 */

th,
td
/* table elements 表格元素 */

{
    margin: 0;
    padding: 0;
}



/** 设置默认字体 **/

body,
button,
input,
select,
textarea
/* for ie */

{
    font: 12px/1.5 "SF Pro SC", "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    ;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
}

address,
cite,
dfn,
em,
var {
    font-style: normal;
}



/* 将斜体扶正 */

code,
kbd,
pre,
samp {
    font-family: courier new, courier, monospace;
}



/* 统一等宽字体 */

small {
    font-size: 12px;
}



/* 小于 12px 的中文很难阅读，让 small 正常化 */


/** 重置列表元素 **/

ul,
ol {
    list-style: none;
}



/** 重置文本格式元素 **/

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}




/** 重置表单元素 **/

legend {
    color: #000;
}



/* for ie6 */

fieldset,
img {
    border: 0;
}



/* img 搭车：让链接里的 img 无边框 */

button,
input,
select,
textarea {
    font-size: 100%;
}



/* 使得表单元素在 ie 下能继承字体大小 */


/* 注：optgroup 无法扶正 */


/** 重置表格元素 **/

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html,
body {
    margin: 0;
    padding: 0;
    font-size: 12px;
}

h1,
.h1 {
    font-size: 36px;
}

h2,
.h2 {
    font-size: 30px;
}

h3,
.h3 {
    font-size: 24px;
}

h4,
.h4 {
    font-size: 18px;
}

h5,
.h5 {
    font-size: 14px;
}

h6,
.h6 {
    font-size: 12px;
}

body {
    background: #f7f8fa;
    transition: transform 300ms;
}

.pull-right {
    float: right;
}

.pull-left {
    float: left;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    background-color: #f7f8fa;
    padding: 4px 10px;
    margin-right: auto;
    margin-left: auto; // border-bottom: 1px solid #EEE;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.05);
    -ms-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.05);
    -o-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.05);
    transition: top 500ms;
}

.flex {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.menubtn {
    width: 25px;
    height: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 768px) {
    .menubtn {
        display: none;
    }
}


.u-icon-menu {
    display: block;
    position: relative;
    height: 1px;
    margin: 50% 0;
    width: 100%;
    background-color: #8c8c8c;
    transition: transform 300ms;
}

.u-icon-menu:before,
.u-icon-menu:after {
    transition: transform 300ms;
    background-color: #8c8c8c;
    position: absolute;
    display: block;
    content: " ";
    width: 100%;
    height: 1px;
}

.u-icon-menu:before {
    transform: translateY(-8px);
}

.u-icon-menu:after {
    transform: translateY(8px);
}

.u-icon-menu.active {
    background-color: transparent;
}

.u-icon-menu.active:before {
    transform: rotate(45deg);
}

.u-icon-menu.active:after {
    transform: rotate(-45deg);
}

.scroll .header {
    top: -58px;
}

.header span {
    color: #8c8c8c;
}

.logo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-image: url("../images/Insomniaer.jpg");
    background-size: cover;
    margin-right: 15px;
}

.container {
    height: 100%;
    max-width: 1000px;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 58px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}

.tagList {
    position: absolute;
    top: 60px;
    left: -40px;
}

.tagList .tags {
    position: fixed;
    top: 80px;
}

.tag a {
    color: #AAA;
}

@media (max-width: 768px) {
    .container {
        padding-right: 6px;
        padding-left: 6px;
    }

    .tagList {
        transition: left 300ms;
        position: fixed;
        left: -200px;
        top: 0;
        width: 200px;
        height: 100%;
        color: #fff;
        z-index: 9999;
        background: rgb(1, 1, 1);
    }

    .tagList .tags {
        position: relative;
        width: 100%;
        text-align: center;
        line-height: 32px;
    }

    .tagList .tags .tag{
        color: #EEE;
        font-size: 18px;
    }
    .open .tagList {
        left: 0;
    }

    .vxbackdrop {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(1, 1, 1, 0.5);
        z-index: 9000;
    }
    .open .vxbackdrop {
        display: block;
    }
}



.more {
    padding: 8px 6px;
}

.blogList {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.blogArea {
    width: 50%;
    padding: 0 10px;
    margin-bottom: 12px;
}

.blog {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
    -ms-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
    -o-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}

@media (max-width: 768px) {
    .blogArea {
        width: 100%;
    }
}

.blog .thumbnail {
    position: relative;
    width: 100%;
    height: 200px;
    overflow: hidden;
    text-align: center;
    line-height: 200px;
    font-size: 34px;
    color: #8c8c8c;
    border-bottom: 1px solid #EEE;
    -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.05);
    -ms-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.05);
    -o-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.05);
}

.blog .thumbnail .poster {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    transition: transform 500ms;
}

.blog .thumbnail:hover .poster {
    transform: scale(1.2, 1.2);
}

.blog .info {
    padding: 16px;
}

.info .title {
    color: #000;
    font-weight: normal;
}

.info .title:hover {
    cursor: pointer;
    color: #FFB647;
}

.more {
    color: #8c8c8c;
}

.tag,
.infotime {
    font-size: 14px;
    color: #8c8c8c;
    margin-right: 10px;
}

.tag:hover {
    cursor: pointer;
    color: #6de4a3;
}

.tips {
    display: flex;
    justify-content: space-between;
    color: #8c8c8c
}

.footer {
    display: none;
    padding: 25px 0;
    text-align: center;
    color: #8c8c8c;
}

.imgarea {
    padding: 10px; 
    text-align: center;
}

.imgarea .footerimg {
    width: 300px;
    height: 300px;
}

.end {
    display: none;
    padding: 20px 0;
    font-size: 18px;
    color: #8c8c8c;
    text-align: center;
    border-bottom: 1px solid #EEE;
}




/*

Zenburn style from voldmar.ru (c) Vladimir Epifanov <voldmar@voldmar.ru>
based on dark.css by Ivan Sagalaev

*/

pre .keyword,
pre .tag,
pre .django .tag,
pre .django .keyword,
pre .css .class,
pre .css .id,
pre .lisp .title {
    color: #E3CEAB;
}

pre .django .template_tag,
pre .django .variable,
pre .django .filter .argument {
    color: #DCDCDC;
}

pre .number,
pre .date {
    color: #8CD0D3;
}

pre .dos .envvar,
pre .dos .stream,
pre .variable,
pre .apache .sqbracket {
    color: #EFDCBC;
}

pre .dos .flow,
pre .diff .change,
pre .python .exception,
pre .python .built_in,
pre .literal,
pre .tex .special {
    color: #EFEFAF;
}

pre .diff .chunk,
pre .ruby .subst {
    color: #8F8F8F;
}

pre .dos .keyword,
pre .python .decorator,
pre .class .title,
pre .haskell .label,
pre .function .title,
pre .ini .title,
pre .diff .header,
pre .ruby .class .parent,
pre .apache .tag,
pre .nginx .built_in,
pre .tex .command,
pre .input_number {
    color: #efef8f;
}

pre .dos .winutils,
pre .ruby .symbol,
pre .ruby .symbol .string,
pre .ruby .symbol .keyword,
pre .ruby .symbol .keymethods,
pre .ruby .string,
pre .ruby .instancevar {
    color: #DCA3A3;
}

pre .diff .deletion,
pre .string,
pre .tag .value,
pre .preprocessor,
pre .built_in,
pre .sql .aggregate,
pre .javadoc,
pre .smalltalk .class,
pre .smalltalk .localvars,
pre .smalltalk .array,
pre .css .rules .value,
pre .attr_selector,
pre .pseudo,
pre .apache .cbracket,
pre .tex .formula {
    color: #CC9393;
}

pre .shebang,
pre .diff .addition,
pre .comment,
pre .java .annotation,
pre .template_comment,
pre .pi,
pre .doctype {
    color: #7F9F7F;
}

pre .xml .css,
pre .xml .javascript,
pre .xml .vbscript,
pre .tex .formula {
    opacity: 0.5;
}